"D:\TECHNION\sem6\ReinforcemntLearning\Code\WET2\.idea"
"D:\TECHNION\sem6\ReinforcemntLearning\Code\WET2\__pycache__"
"D:\TECHNION\sem6\ReinforcemntLearning\Code\WET2\environment.txt"
"D:\TECHNION\sem6\ReinforcemntLearning\Code\WET2\sectionD.txt"
"D:\TECHNION\sem6\ReinforcemntLearning\Code\WET2\test.py"
"D:\TECHNION\sem6\ReinforcemntLearning\Code\WET2\WET2.rar"
"D:\TECHNION\sem6\ReinforcemntLearning\Code\HW"